<h2>既存メモの編集</h2>
<form method="post" action="/memos/<%= @memo["id"] %>/edit">
  <label>
    メモのID:
    <input type="text" name="id" size=50 maxlength=20 value="<%= @memo["id"] %>" readonly><span>※編集不可</span>
  </label>
  <br>
  <label>
    メモのタイトル:
    <input type="text" name="title" size=50 maxlength=20 value="<%= h(@memo["title"]) %>">
  </label>
  <br>
  <label>
    メモの内容:
    <input type="text" name="content" size=50 maxlength=100 value="<%= h(@memo["content"]) %>">
  </label>
  <br>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" value="修正する">
</form>
<form method="post" action="/memos/<%= @memo["id"] %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除する">
</form>
